@import url(https://fonts.googleapis.com/css?family=Kaushan+Script:400);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,100);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}
header {
	display: block;
	/*overflow: visible;*/
	background: url(img/eagle.png) no-repeat;
	color: white;
	background-size:cover;
}
	
.wrapper {
	padding-top: 28px;
	width: 1200px;
	margin: 0 auto;
	padding-bottom: 28px;
}

} /*Голова головы*/
.header {
	display: block;
 }
/*Надпись мого*/
 em {
	display: inline-block;
	font-style: normal;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: bold;

}

.links {
	float: right;
}
.pictogr {
	display: inline-block;
}

.basket {
	height:14px; 
	width:18px;
	background: url(img/basket.png) no-repeat;
}
.search {
	height:18px; 
	width:18px;
	background: url(img/search.png) no-repeat;
}
header a {
	display: inline-block;
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	margin-right: 55px;
}
.pictogr .search {
	margin-right: 0;
}
.header .links a:hover {
	border-bottom: 3px solid yellow;
	padding-bottom: 12px;
	color: yellow;
}
.header a em {
	text-transform: none;
}
.text_center {
	display: block;
	margin-top: 70px;
	text-align: center;
	color: #333;

}
header .text_center{
    margin-top: 164px;
    color: white;
}
.foo {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
}
.header .foo {
	
	font-size: 72px;
}

.bar {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 30px;
}
.header .bar {
	font-size: 150px;
	
}
.stick{
	margin: auto;
	margin-top: 71px;
	width: 60px;
	height: 3px;
	background-color: #f38181;
}
.header .stick {
	
	background: white;
}

.learn_more{
	padding: 10px;
	margin-top: 65px;
	display: block;
	border: 3px solid white;
	width: 160px;
	height: 40px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.learn_more a {
	text-align: center;
	margin: 0 auto;
}
.learn_more a:hover {
	color: #f38181;
}
.headerLinksWr {
	display: inline-block;
	margin-top: 157px;
}

b {
	font-size: 24px;
}
.headerLinks {
	border-top: 3px solid white;
	opacity: 0.5;
	display: inline-block;
	margin-right: 20px;
	text-align: left;
	font-family: Montserrat, sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	opacity: 0.5;
	width: 280px;
	padding-top: 25px;
	position: relative;
}
.headerLinks:last-of-type {
	margin-right:0;
}
.headerLinks:before{
	content: '';
	width: 70px;
	height: 2px;
	background-color: #f38181;
	display: none;
	position: absolute;
	top: -2px;
	left: 0;
}
.headerLinks:hover {
	
	opacity: 1;
}

.headerLinks:hover:before {
	display: block;
}
.headerLinksWr a {
	text-decoration: none;
	border: none;
	padding: inherit;
	margin-right: 20px;
}
.links a:last-of-type{
	margin-right: 0;
}
.headerLinksWr a:last-of-type{
	margin-right: 0;
}
.aboutUs  {
	padding-top: 0;
	padding-bottom:110px;
	text-align: center;
	position: relative;
}
.lor {
	margin-top: 47px;
	padding-left:123px;
	padding-right:123px; 
	color: #999;
	font-family: Roboto, sans-serif;
	font: 15px/24px normal;
	text-align: center;
	/*max-width: 950px;*/
}
.imgWrapAbout {
	margin-top: 91px;
	display: block;	

}
.uno, .duo, .tres {
	position: relative;
	display: inline-block;
	margin-right:30px;
	transition: all .3s;
	z-index: 1;
}
.tres {
	margin-right:0;
}
.image {
	text-align:none;
	bottom: 10px;
	left: 10px;
	box-sizing: content-box;
	display: inline-block;
	max-width: 380px;
	}

.inFront_image {
	opacity: 0;
	background: url(img/users.png) no-repeat;
	margin: auto;
	position: absolute;
	top: 104px;
	left: 174px;
	z-index: 2;
	width: 32px;
	height: 23px;


}
.inFront_text {
	opacity: 0;
	position: absolute;
	top: 134px;
	left: 130px;
	z-index: 2;
	color: white;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}
.uno:hover .inFront_text, .uno:hover .inFront_image,.duo:hover .inFront_text, .duo:hover .inFront_image,.tres:hover .inFront_text, .tres:hover .inFront_image {
	opacity: 1;
	transition: .3s;
}
.uno:hover, .duo:hover, .tres:hover{
	top: -10px;
	box-shadow: 10px 10px 0px 3px rgba(149,225,211,1);
	cursor: pointer;
	
}

/*.uno:hover .image {
	opacity: .4;
	background: linear-gradient(135deg, rgba(247,185,27,1) 0%, rgba(231,56,39,1) 100%);
	z-index: 1;
}*/
.wrapper .numbers_block {
	padding-top: 0;
	padding-bottom: 0;
	width: 0;
	margin: 0 auto;
	}
.numbers_block .wrapper {
	width: inherit;
}
.numbers_block {
	position: relative;
	background-color: #95e1d3;
	/*display: table-row;*/
	display: block;
	color: white;
	background-size:cover;
	text-align: center;
	margin-bottom: 110px;
}
.n_bl {
	display: inline-block;
	width: 241px;
	padding: 89px 63px 90px;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	border-left: 1px solid white;
	vertical-align: top;
}
.n_bl:last-of-type{
	border-right: 1px solid white;
}
.n_bl b {

	display: block;
	font-family: Montserrat;
	font-size: 72px;
	text-transform: uppercase;
	font-weight: bold;
}
.s_wr {
	margin: 0 auto;
	box-sizing: content-box;
}
.s_column {
	display: block;

}
.s_column.col1 { 
	border-bottom: 1px solid #e5e5e5;
	margin-top: 66px;
	padding-bottom: 20px;
}
.s_column.col2 {
	margin-top: 45px;
	margin-bottom: 50px;
}
.s_cell {
	display: inline-block;
	width: 33%;
	vertical-align: top;
	padding-left: 68px;
}
.s_cell:nth-child(n+4) {
	border-bottom: none;
	padding-top: 37px;
}
.s_image {
	padding-bottom: 37px;
	margin-right: 28px;
	float: left;
}
.s_title {
	color: #333;
	font: 14px 'Montserrat', sans-serif, normal;
	text-transform: uppercase;
}
.s_descr {
	color: #999;
	font: 15px/24px 'Roboto', sans-serif, normal;
	min-height: 80px;
}

.unique {
	background: url(img/devises.png) no-repeat;
	color: #333;
	background-size:cover;

}
.unique .wrapper {
	padding-bottom: 0;
}

.ipain {
	position: relative;
}
#ipad {
	width: 477px;
	height: 582px;
	background: url(img/ipad.png) no-repeat;
	display: inline-block;
	z-index: 1;
	margin-bottom: -7px;
	margin-left: 300px;
	margin-top: 45px;
}
#iphone {
	position: absolute;
	bottom: -115px;
    right: 270px;
	width: 274px;
	height: 476px;
	background: url(img/iphone.png) no-repeat;
	display: inline-block;
	z-index: 2;
}
.whatWeDo .wrapper {
	width: inherit;
	text-align: center;
}
.DoBlock {
	margin-top: 92px;
}
.DoBlock img {
	display: inline-block;
}
.blockRight {
	display: inline-block;
	vertical-align: top;
	margin-left: 25px;

}
.blHead {
	width: 600px;
	height: 60px;
	border: 1px solid #e5e5e5;
	padding: 15px;
	text-align: left;
	vertical-align: middle;

}
.blHead .s_title {
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 15px;
}
.up_sign {
	float: right;
	vertical-align: middle;
	text-align: right;
	display:block;
	font-size: 18px;
}
.down_sign {
	float: right;
	vertical-align: middle;
	text-align: right;
	display:block;
	font-size: 18px;
	display: none;
}
.block {
	clear: both;
}
.blIm {
	display: inline-block;
	max-width: 32px;
	max-height: 32px;
	margin-right: 15px; 
}
.bl1 {
	background: url(img/picture.png) no-repeat;
	width: 30px;
	height: 30px;
}
.bl2 {
	background: url(img/equalizer.png) no-repeat;
	width: 28px;
	height: 32px;
}
.bl3 {
	background: url(img/bullseye.png) no-repeat;
	width: 32px;
	height: 32px;
}
.blDescr {
	width: 600px;
	height: 181px;
	padding: 21px 55px 28px 20px;
	border: 1px solid #e5e5e5;
	display: none;
	overflow: auto;
	color: #999;
	font-family: Roboto;
	font-size: 15px;
	font-style: italic;
	line-height: 24px;
	text-align: left;
}
.block:hover .blDescr {
	display: block;
}
.block:hover .up_sign {
	display: none;
}
.block:hover .down_sign {
	display: block;
}
.block:hover {
	transition: 500ms;
}
.quotte {
	margin-top: 125px;
	background-color: #f8f8f8;
}
.q_img {
	display: inline-block;
	padding: 45px;
	background: url(img/quote1.png) no-repeat center;
	width: 63px;
	height: 61px;
	border: 3px solid #95e1d3;
	margin-top: 70px;
	margin-bottom: 70px;
}
.q_text {
	display: inline-block;
	vertical-align: middle;
}
.q_descr {
	display: inline-block;
	margin-left: 61px;
	color: #999;
	font: 24px/36px 'Roboto', sans-serif;
	font-style: italic;
	max-width: 767px;
	}

.stick.q {
	margin-top: 0;
	display: inline-block;
	background-color: #f38181;
}
.q_signature {
	margin-top: 10px;
}
.autor {
	display: inline-block;
	color: #333;
	font: 24px 'Kaushan Script', sans-serif, normal;
	}
.left_q, .right_q {
	display: inline-block;
	font-size: 30px;
	color: #ccc; 
	cursor: pointer;
}
.left_q {
	margin-right: 75px;
}
.right_q {
	margin-left: 75px;
}
.HipImg {
	margin-top: 92px;
}
.photo_sign {
	display: block;
	text-align: center;
}
.Name {
	margin-top: 31px;
	color: #333;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}
.Role {
	margin-top: 15px;
	color: #999;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-style: italic;
}
.hip1, .hip2, .hip3 {
	display: inline-block;
}

.inFront_block{
	width: 224px;
	height: 56px;
	opacity: 0;
	visibility: hidden;
	position: absolute;
}
.fb {
	position: absolute;
	top: 207px;
	left: 78px;
	background: #fce38a url(img/facebook.png) center no-repeat;
	width: 56px;
	height: 56px;
}
.tw {
	position: absolute;
	top: 207px;
	left: 134px;
	background: #fce38a url(img/twitter.png) center no-repeat;
	width: 56px;
	height: 56px;
	border-right: 1px solid #f38181;
}
.ptr {
	position: absolute;
	top: 207px;
	left: 190px;
	background: #fce38a url(img/pinterest.png) center no-repeat;
	width: 56px;
	height: 56px;
	border-right: .5px solid #f38181;
}
.inst {
	position: absolute;
	top: 207px;
	left: 246px;
	background: #fce38a url(img/instagram.png) center no-repeat;
	width: 56px;
	height: 56px;
}

.uno:hover .inFront_block, .duo:hover .inFront_block, .tres:hover .inFront_block {
	opacity: 1;
	transition: .2s;
	visibility: visible;
}

.fb:hover { background: #f38181 url(img/facebook_h.png) center no-repeat; }
.ptr:hover { background: #f38181 url(img/pinterest_h.png) center no-repeat; }
.inst:hover { background: #f38181 url(img/instagram_h.png) center no-repeat; }
.tw:hover { background: #f38181 url(img/twitter_h.png) center no-repeat; }

.hiplogos {
	margin-top: 100px;
	background: #f8f8f8;
}

.ine img {
	display: block;
}
.workPrev div {
	display: inline-block;
}
.workPrev {
	display: flex;
	/*justify-content: center;*/
	margin-top: 80px;
	justify-content: center;
	flex-wrap: wrap;
	overflow: hidden;
	max-height: 780px;
	}

.quotte.sec_quotte {
	background:none;
}
.q_img.sec_quote {
	display: inline-block;
	width: 210px;
	height: 210px;
	background: url(img/dude_q.png) no-repeat center;
	vertical-align: middle;
	border: none;
	margin: 0;
}
.sec_quotte .left_q, .sec_quotte .right_q {
	vertical-align: middle;
	font-weight: bold;
}
.sec_quotte .right_q {
	margin-left: 45px;
}
.sec_quotte .q_descr  {
	vertical-align: middle;
}
.whatPeopleSay {
	background: url(img/cl_bg.png) no-repeat;
	background-size: cover;
}
.dudes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 99px; 
}
.dude_op:hover {
	background-color: rgba(204, 255, 230, .4);
	border-radius: 10px;
}
.dude_op:hover .dude_lorem {
	color: white;
	/*text-shadow: 4px 3px 2px rgba(150, 150, 150, 0.86);*/
	text-shadow: 3px 2px 1px rgba(204, 96, 154, 0.55);
}
.dude_op {
	display: inline-block;
	max-width: 520px;
	padding: 10px;
}
.dude_op:nth-child(odd){
	margin-right: 86px;
}
.dude_img{
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 170px;
	float: left;
}
.dude_op .foo {
	color: #333;
	font-size: 14px;
	font-family: Montserrat;
	text-transform: uppercase;	
}
.dude_op .bar {
	font-size: 15px;
	font-family: Roboto;
	font-style: italic;
	text-transform: none;
	font-weight: normal;
	margin-top: 15px;
}
.dude_op .foo, .dude_op .bar {
	text-align: left;
}
.dude_op .stick {
	margin: 0;
	margin-left: 140px;
	margin-top: 17px;
}
.dude_lorem {
	color: #999;
	margin-top: 24px;
	font-family: Roboto;
	font-size: 15px;
	line-height: 24px;
	min-width: 514px;
	padding-right: 10px;
}	

.img_blog {
	position: relative;
}
.img_date {
	position: absolute;
	bottom: 10px;
	left: -10px;
	text-align: center;
	width: 60px;
	height: 70px;
	background-color: #95e1d3;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	color: white;
}
.img_date b {
	display: block;
	font-family: Montserrat;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	font-style: normal;
}
.header_bl {
	margin-top: 20px;
	color: #333;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	max-width: 300px;
}
.descr_bl {
	margin-top: 20px;
	color: #999;
	font-family: Roboto;
	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
	max-width: 350px;
	min-height: 46px;
	text-transform: none;
	
}
.blogprev {
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 20px;
}
.blog_content {
	margin-top: 47px;
	max-width: 390px;
}
.blog_block {

	display: flex;
	justify-content: space-around;
}
.views, .comm {
	color: #999;
	font-size: 15px;
	font-style: italic;
	display: inline-block;
}
.blog_content a {
	background: none;

}
.comm {
	margin-left: 5px;
}
.map {
	background: url(img/map.png) center no-repeat;
	background-size: cover;
}
.map_pict {
	margin: 0 auto;
	display: block;
	width: 20px;
	height: 26px;
	background: url(img/pin-2.png) center no-repeat;
}
.map_text {
	text-align: center;
	margin-top: 18px;
	display: block;
	color: #f38181;
	font-family: Montserrat;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}
footer {
	padding-top: 74px;
	display: block;
	background: #f8f8f8;

}
.ab_Mogo {
	max-width: 481px;
	/*height: 246px;
	background: #ccffee;*/
	/*float: left;*/
	color: #ccc;
	padding-bottom: 18px;
	border-bottom: 1px solid #e5e5e5;
}
.ab_Mogo em {
	font-size: 46px;
}
.mg {
	margin-top: 25px;
	color: #999;
	font-family: Roboto;
	font-size: 15px;
	line-height: 24px;
}
.follow_us {
	max-width: 379px;
}
.another_blogs, .instagram_mogo {
	max-width: 336px;
}

.copyright {
	clear: both;
	display: block;
	font-family: Montserrat;
	font-size: 14px;
	color: #333;
	text-align: center;
	padding-bottom: 22px;
	background: #f8f8f8;
}
.copyright > a {
	text-transform: none;
	color: #f38181;
	
}
.how_much {
	margin-top: 22px;
	color: #333;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: normal;
}
.how_much > span {
	font-size: 18px;
	font-weight: bold;

}
.form {
	padding: 5px;
	padding-top: 40px;
}
.follow_the_rabbit {
	padding-left: 5px;
	color: #999;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	line-height: 24px;
	font-style: italic;
}
form {
	display: flex;
	flex-direction: row;
}
input[type="email"] {
	color: #ccc;
	font-family: Roboto;
	font-size: 15px;
	font-style: italic;
	width: 230px;
	height: 40px;
	border: 1px solid #e7e7e7;
}
input[type="submit"] {
	width: 150px;
	height: 40px;
	background-color: #95e1d3;
	color: white;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
}
.dd {
	margin-top: 18px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	max-width: 306px;
}
.follow_links {
	align-self: flex-end;
	/*flex-grow: 1;*/
}
.follow_links > a {
	margin-right: 12px;
}
.follow_links > a:last-of-type {
	margin-right: 0;
}
.another_blogs .header_bl {
	font-size: 12px;
	line-height: 18px;
	max-width: 194px;
	margin: 0;
}
.caption {
	float: right;
	vertical-align: middle;
	padding-left: 5px;
}
.date {
	margin-top: 5px;
	color: #999;
	font-family: Roboto;
	font-size: 13px;
	font-style: italic;
}
.another_blogs span, .instagram_mogo span {
	height: 10px;
	font-family: Montserrat;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.ab_Mogo a {
	color: #ccc;
}
.another_blogs {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 350px;
	align-self: stretch;
}

.insta_table {
	padding-top: 40px;
	display: table-cell;
	max-width: 88px;
}

.instagram_mogo span:nth-of-type(2) {
	display: block;
/*	margin-top: 20px;*/
	color: #333;
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
	font-style: italic;
	text-transform: none;
}
.small_wr_last {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 69px;
	max-height: 395px;

}