* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	font-family: 'Century Gothic';
	text-transform: uppercase;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: white;
}
	header a:hover {
		color: #ffe6b3;
	}

@import url(fonts/Century_Gothic.ttf);

header {
	display: flex;
	background: url(img/header.png) no-repeat;
	background-size: cover;
	height: 621px;
	overflow: hidden;
	justify-content: space-between;
	align-content: center;
	align-items: center;

}
.mark {
	display: flex;
	position: relative;
	align-self: flex-start;
	align-content: flex-start;
	/*align-items: flex-start;*/
	left: -33%;
}
.form {
	background: url(img/shape-5.png) no-repeat;
	width: 266px;
	height: 128px;	
}
.sign {
	color: white;
	font-size: 28px;
	position: absolute;
	top: 10px;
	left: 36px;
	max-width:188px;
	text-align: center;
}

.slider {
	width: 58px;
	height: 178px;
	/*opacity: 0.39;*/
	display: flex;
	flex-direction: row;
	cursor: pointer;
	justify-content: space-between;
}
	._l {
		background: url(img/shape-4.png) center no-repeat;	
	}
	._r {
		background: url(img/shape-4-copy.png) center no-repeat;
		border-bottom-left-radius: 15px;
		border-top-left-radius: 15px;
	}

.main_line {
	/*width: 1582px;*/
	margin-bottom: 10px;
	margin-top: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-top:1px solid black ;
	border-bottom:1px solid black;
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
	z-index: 2;
	
}
	.main_line a {
		color: black;
		font-size: 36px;
		text-transform: uppercase;
		display: block;
	}
		.main_line a:hover{
			text-decoration: underline;
		}

.flex_second {
	background: #eee;
	padding-bottom: 346px;
	padding-top: 10px;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
	.menu_left, .profile_right  {
		width: 310px;
		height: 357px;
		background-color: #d7d7d7;
		position: relative;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-content: space-between;
		
	}
		.menu_word {
			align-self: center;
			background-color: #6b6b6b;
			color: white;
			font-size: 18px;
			padding: 14px 47px;
			z-index: 2;

		}
		.menu_punkt {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-self: center;
			text-align: center;
			position: relative;
			border: 1px solid white;
			padding: 67px 60px 61px;
			top: -25px;
		}
			.menu_punkt a {
				color: black;
				display: block;
				margin-top: 20px;
			}
	.news_center {
		width: 795px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0 10px 0;
	}
		.news_center a {
			color: black;
		}
		.up_menu {
			display: flex;
			justify-content: space-between;
			height: 50px;
		}
			.date {
				font-size: 35px;
				position: relative;
				top: 20px;
			}
		.topic {
			display: flex;
			margin-top: 74px;
			flex-direction: column;
			justify-content: space-between;
			align-content: center;
		}
			.topic span {
				align-self: center;
				width: 583px;
			}
			span.head_topic {
				font-size: 29px;
				margin-bottom: 111px;
				display: block;
				padding-bottom: 36px;
				border-bottom: 1px solid #cecece;
				text-align: center;
			}
			span.lor {
				position: relative;
				top: -40px;
				text-transform: none;
				font-size: 17px;
				
			}
	.profile_right .menu_punkt {
		padding: 57px 55px 61px;
	}
	.profile_right .menu_punkt a {
		text-transform: none;
}