* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	font-family: 'GothamProRegular';
}
a {
	text-decoration: none;
	color: black;
}
header {
	background: url(img/header_background.png) no-repeat;
	background-size: cover;
	padding-top: 63px;

}
.wrapper {
	margin: 0 auto;
	width: 1200px;

	
}
	a .fa-bars {
		text-align: right;
		font-size: 30px;
		
	}
	.fa {
		font-family: 'FontAwesome';
	}
	.fa-bars:before {
	  content: "\f0c9";
	}
	.mini_wrap {
		margin-top:3em;
		text-align: center;
		padding-bottom: 345px;

	}
	.title {
		font-size: 40px;
	}
		header span > span {
			color: #a1a9b0;
		} 
	.subtitle {
		margin-top: 41px;
		font-size: 15px;
		color: #8c9398;
	}
		#codrops {
			font-family: "GothamProBoldItalic";
		}
	.button_learnMore {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 200px;
		height: 60px;
		background-color: #3dc9b3;
		border-radius: 5px;
		text-transform: uppercase;
		color: white;
		font-size: 15px;
		margin: 0 auto;
		margin-top: 65px;
		border-bottom: 5px solid #309383;
	}


/*UNIVERAL block*/
.headLogBlock {
	text-align: center;
	margin: 0 auto;
}
.titleLogblock {
	font-family: "GothamProMedium";
	color: #353535;
	font-size: 15px;
	text-transform: uppercase;
}

.downsignLogblock {
	margin-top: 26px;
}
.downsignLogblock, .sign_down, .pointquot {
	display: inline-block;
}
	.pointquot {
		width: 234px;
		height: 2px;
		background: url(img/layer-8.png) no-repeat;
		padding-bottom: 2px;
	}
	.sign_down {
		margin-left: 25px;
		margin-right: 25px;
		width: 15px;
		height: 13px;
		background: url(img/layer-7.png) no-repeat;
	}
/*Logical Block 1*/
.logBlock-1 {
	background-color: #f3f5f8;
}
.logBlock-1 .headLogBlock {
	padding-top:107px;
}
.contentLogBlock-1 {
	margin: 0 auto;
	margin-top: 73px;
	font-family: "GothamProMedium";
	width: 742px;
	font-size: 14px;
	line-height: 30px;
	color: #8c9398;
	text-align: center;
	padding-bottom: 127px;
}
.contentLogBlock-1 > b {
	color: #353535;
}
	
/*Логический блк 2*/
.logBlock-2 > .headLogBlock {
	margin-top: 102px;
}
.fa-code:before {
  content: "\f121";
}
.fa-heart:before {
  content: "\f004";
}
.fa-laptop:before {
  content: "\f109";
}
	.fa-code:before, .fa-heart:before, .fa-laptop:before {
		position: relative;
		top: 30%;
		left: 28%;
		text-shadow: 5px 5px 6px rgba(117, 188, 165, 1),
					10px 10px 6px rgba(117, 188, 165, 1),
					15px 15px 6px rgba(117, 188, 165, 1),
					22px 22px 6px rgba(117, 188, 165, 1),
					29px 29px 6px rgba(117, 188, 165, 1),
					35px 35px 6px rgba(117, 188, 165, 1),
					39px 39px 6px rgba(117, 188, 165, 1);
		overflow: hidden;
	}
	.fa-code:before {
		text-shadow: 2px 2px 6px rgba(117, 188, 165, 1),
					7px 7px 6px rgba(117, 188, 165, 1),
					9px 9px 6px rgba(117, 188, 165, 1),
					11px 11px 6px rgba(117, 188, 165, 1),
					13px 13px 6px rgba(117, 188, 165, 1),
					15px 15px 6px rgba(117, 188, 165, 1),
					17px 17px 6px rgba(117, 188, 165, 1),
					19px 19px 6px rgba(117, 188, 165, 1),
					21px 21px 6px rgba(117, 188, 165, 1),
					23px 23px 6px rgba(117, 188, 165, 1),
					25px 25px 6px rgba(117, 188, 165, 1),
					27px 27px 6px rgba(117, 188, 165, 1),
					29px 29px 6px rgba(117, 188, 165, 1),
					31px 31px 6px rgba(117, 188, 165, 1),
					33px 33px 6px rgba(117, 188, 165, 1),
					35px 35px 6px rgba(117, 188, 165, 1),
					37px 37px 6px rgba(117, 188, 165, 1),
					39px 39px 6px rgba(117, 188, 165, 1),
					41px 41px 6px rgba(117, 188, 165, 1);
	}
	.fa-laptop, .fa-heart, .fa-code {
		
		margin-left: auto;
		margin-right: auto;
		font-size: 60px;
		color: white;
		width: 150px;
		height: 150px;
		background-color: #3dc9b3;
		border-radius: 50%;
		margin-bottom: 40px;
		overflow: hidden;
	}
.table {
	text-align: center;
}
.table > * {
	display: inline-block;
	margin-top: 88px;
}
.table- > .fa {
	text-align: left;
}
.table-:not(:last-of-type) {
	margin-right: 51px;
}
.table-cell-desc {
	margin-top: 29px;
	width: 339px;
	color: #8c9398;
	font-size: 14px;
	line-height: 20px;
	font-family: "GothamProMedium";
}
.table-cell-sign {
	margin-top: 52px;
	color: #353535;
	font-size: 15px;
	font-family: "GothamProMedium";
}
.table-cell-line {
	margin-left: 45%;
	margin-top: 26px;
	width: 33px;
	height: 3px;
	background-color: #3dc9b3;

}
/*logBlock-3*/
.logBlock-3 {
	margin-top: 122px;
	width: 100%;
}

.bl3_left , .bl3_right {
	display: inline-block;
	vertical-align: top;
}

.bl3_left {
	width: 45%;
	height: 700px;
	background-color: #f3f5f8;
	position: relative;
	overflow: hidden;
	box-shadow: inset -9px 0px 19px -12px rgba(0,0,0,0.75);
}
.img_behind {
	position: absolute;
	top: 14px;
    right: -349px;
}
.bl3_right {
	padding-top: 134px;
	padding-left: 98px;
	width:605px;
	height:434px;
}
.bl3descr {
	margin-top: 50px;
	color: #8c9398;
	line-height: 20px;
}

/*logBlock-4*/
.logBlock-4 {
	background: url(img/block4_back.png) no-repeat center;
	background-size: cover;
	color: white;
	text-align: center;

}

.fa-angle-down {
	position: relative;
	width: 43px;
	height: 43px;
	background-color: #3dc9b3;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: 43px; 

}
.fa-angle-down:before {
  content: "\f107";
  font-size: 30px;
  position: relative;
	top: 19%;
}
.bl4-title {
	padding-top: 81px;
	font-size: 40px;
}
.bl4-subtitle {
	margin-top: 28px;
	font-size: 25px;
}
.bl4-subtitle > i {
	font-family: "GothamProBoldItalic";
	letter-spacing: 5px;
}
.logBlock-4 > .wrapper {
	padding-bottom:56px;
}
/**/
.anotherSlider {
	margin-top: 104px;
	position: relative;
}
.imageinslider {
	position: relative;
}

.imghov{
	position: relative;
	top: 0px;
    left: -364px;
    opacity: 0;
}

.fa-search:before {
  content: "\f002";
}
.onemore_hov {
	position: absolute;
	text-align: center;
	color: white;
	top: 85px;
    left: 130px;
    display: none;
}
.imginslider:hover .imghov {
	transition: .4s;
	opacity: 1;

}
.imginslider:hover .onemore_hov {
	display: block;
}